body {
    margin: 0;
    padding: 0;
  }
  
  .bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, yellow 26%, yellow 25%, yellow 51%, #ff357f 100%);
    background-size: 300% 300%;
    animation: AnimateBG 20s ease infinite;
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  <!DOCTYPE html>
  <html>
  <head>
    <title>Horizontal Navigation Bar Example</title>
    <style>
      /* Styles for the navigation bar */
      .navbar {
        background-color: #333;
      }
  
      .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
  
      .navbar li {
        float: left;
      }
  
      .navbar a {
        display: block;
        color: #1c1c1c;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
  
      .navbar a:hover {
        background-color: #ddd;
        color: black;
      }
    </style>
  </head>
  <body>